<footer class="footer">
<div class="container">
  <hr style="color:black">
  <div class="pull-left">
    <a href="">Java社区</a>|<a href="">Ubuntu社区</a>|<a href="">联系本人</a></p>
  </div>
  <div class="pull-right">
    <p class="link">powered by ©<a href="">Game Plusten</a> 2012</p>
  </div>
</div>
</footer>
