.alert.alert-info
  %h3= "请选择你所需要的数"
.span7
  %form{:class=>"form-horizontal",:method=>:post,:id=>"select",:action=>"post_single",:controller=>"room"} 
    %filedset
      %legend
        选择一个你猜想的数字
      %div{:class=>"control-group"}
        %label.control-label{:for=>"num"}
          请选择一个 :
        %div{:class=>"controls"}
          %label.checkbox.inline
            %input{:type=>:radio,:id=>"zero"} 0
          %label.checkbox.inline
            %input{:type=>:radio,:id=>"one"} 3
          %label.checkbox.inline
            %input{:type=>:radio,:id=>"five"} 5
          %label.checkbox.inline
            %input{:type=>:radio,:id=>"seven"} 7
      %div{:class=>"control-group"}
        %div{:class=>"controls pull-right"}
          %input.btn.btn-success{:type=>:submit}
