<%= render "share/header" %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span7">
        <div class="alert alert-info"><h5>请选择游戏房间</h5></div>
        <ul class="unstyled">
        <% if @rooms.any? %>
          <% for room in @rooms %>
            <li><%= link_to "进入"+room.name,:action=>"current_game",:controller=>"room",:id=>room.id %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
      <div class="span5">
        <%= render "share/sidelink" %>
      </div>
    </div>
  </div>
</div>
<%= render "share/footer" %>
