=render "share/header"
.container
  .container-fluid
    .row-fluid
      .span7
        .alert.alert-info
          %p
            %h3
              请选择游戏房间
        .rooms
          %ul.unstyled{:id=>"game_room"}
            -if @rooms.any?
              -for room in @rooms
                %li{:id=>room.id}
                  %a= link_to "进入"+room.name,{:action=>"current_multi_game",:controller=>"room",:roomid=>room.id},:id=>"room"+(room.id-1).to_s
                  %br
                  %span
                    %field{:name=>"room_info"}
                    %br
                    当前room人员:
                    %br
                    %strong 
                      %a
                        %field{:name=>room.id-1}
                      %a /
                      = room.usernum

      .span5
        = render "share/sidelink"
= render "share/footer"
