= render "share/header"
.container
  .container-fluid
    .row-fluid
      .span7
        .alert.alert-info
          %p
            %h3请选择分类
        -if @types.any?
          -@types.each do |type|
            %p
              = link_to type.name,:controller=>"room",:action=>"current_single_game",:type=>type.id
      .span5
        =render "share/sidelink"
= render "share/footer"
