<%= render "share/header" %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span7">
        <div class="alert alert-info"><h5>请选择分类</h5></div>
        <p><a href="">单人游戏</a></p>
        <p><a href="">多人游戏</a></p>
      </div>
      <div class="span5">
        <%= render "share/sidelink" %>
      </div>
    </div>
  </div>
</div>
<%= render "share/footer" %>
